{% extends 'base.html' %}
{% block title %}
Login Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container"> <!-- the container class is supposed to keep the information centralised and not widen-->
        <form method="POST" class="form-signin" style="color:white">
            {{ form.hidden_tag() }} <!-- this is the necessary token which was generated in the registration-->
            <img class="mb-4" src="https://image.freepik.com/free-vector/elegant-letter-m-symbol-market-place-logo-concept_17005-469.jpg" width="150" height="150" alt="">
            <h1 class="h3 mb-3 font-weight-normal">
                Please Login
            </h1>
            <br> <!-- here jinja is grabbing the fields username and password-->
                    {{ form.username.label() }}
                    {{ form.username(class="form-control", placeholder="User Name") }}

                    {{ form.password.label() }}
                    {{ form.password(class="form-control", placeholder="Password") }}

            <br>


            <div class="checkbox mb-3"> <!-- This code is for a new account registration if someone is not registered-->
               <h5>Do not have an account?</h5>
               <a class="btn btn-lg btn-secondary" href="{{ url_for('register_page') }}">Register</a>
            </div>

            {{ form.submit(class="btn btn-lg btn-primary") }}

        </form>
    </div>
</body>
{% endblock %}